@{
    ViewBag.Title = "Admin";
}
<div class="jumbotron" style="background-color:palevioletred; text-align:center">
    <h1>Admin Page</h1>
</div>
<div>
    <a class="btn1" href="http://localhost:62504/Home1/ALogin" style="font-size:medium">Admin LogIn &raquo;</a>
    
</div>

