
@{
    ViewBag.Title = "Customer";
}
<div class="jumbotron">
    <h1>Customer Page</h1>
</div>
<div>
    <a class="btn2" href="http://localhost:62504/Customer/Login">Customer Log In &raquo;</a>
    <br />
    <a class="btn2" href="http://localhost:62504/Customer/Registration">Customer Sign In &raquo;</a>
</div>