@{
    ViewBag.Title = "Home Page";
}
<body style="background-color: orangered">
    <div>
        <h1 style="text-align: center; color:beige; font-family:Algerian ; background-color:orangered">Pizzeria</h1>
    </div>

    <div class="row">
      <img src="https://st.depositphotos.com/1900347/4146/i/600/depositphotos_41466555-stock-photo-image-of-slice-of-pizza.jpg" alt="Pizza with stuff" width="1000" height="500 " class="center-block" />
    </div>
    </body>
